﻿@{
    ViewData["Title"] = "Mockups";
}

<h2>@ViewData["Title"]</h2>
<ul>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Result">QuizResults</a></li>
</ul>